<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307464538680-bpib6n0ff505epe67uq6ovv7stsi61c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307464538680-bpib6n0ff505epe67uq6ovv7stsi61c4</string>
	<key>API_KEY</key>
	<string>AIzaSyByBFu0tMazSsHzUZaE4fT0SuqfXvz_Q58</string>
	<key>GCM_SENDER_ID</key>
	<string>307464538680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyurai.AuthDemo3</string>
	<key>PROJECT_ID</key>
	<string>authdemo3-30e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>authdemo3-30e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307464538680:ios:dc90af172488dbda6c74cd</string>
</dict>
</plist>